<%= form_for(link) do |f| %>
<%= form_for @link do |frm| %>
  <div>
      <%= frm.label :title %>
      <%= frm.text_field :title %>
  </div>
  <div>
      <%= frm.label :author %>
      <%= frm.text_field :author %>
  </div>
  <div>
      <%= frm.label :summary %>
      <%= frm.text_field :summary %>
  </div>
  <div>
      <%= frm.label :url %>
      <%= frm.text_field :url %>
  </div>
  <%= frm.submit %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
